Import the classes and methods from the other files

In [1]:
from database_utils import DatabaseConnector as dc
from data_extraction import DataExtractor as de
from data_cleaning import DataCleaning as cl
import pandas as pd

Initialise an instance of the DataCleaning class

In [2]:
cleaner = cl()

Extract and clean the user data

In [3]:
user_data = cleaner.clean_user_data()
# lets check the data is cleaned properly
user_data.info()
display(user_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15284 entries, 0 to 15283
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   first_name     15284 non-null  object
 1   last_name      15284 non-null  object
 2   date_of_birth  15284 non-null  datetime64[ns]
 3   company        15284 non-null  object
 4   email_address  15284 non-null  object
 5   address        15284 non-null  object
 6   country        15284 non-null  category
 7   country_code   15284 non-null  category
 8   phone_number   15284 non-null  object
 9   join_date      15284 non-null  datetime64[ns]
 10  user_uuid      15284 non-null  object
dtypes: category(2), datetime64[ns](2), object(7)
memory usage: 1.1+ MB

,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,sigfried,noack,1990-09-30,heydrich junitz kg,rudi79@winkler.de,"zimmerstr. 10, 59015 gießen",Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,guy,allen,1940-12-01,fox ltd,rhodesclifford@henderson.com,"studio 22a, lynne terrace, mccarthymouth, tf0 9gh",United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,harry,lawrence,1995-08-02,"johnson, jones and harris",glen98@bryant-marshall.co.uk,"92 ann drive, joanborough, sk0 6lr",United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,darren,hussain,1972-09-23,wheeler llc,daniellebryan@thompson.org,"19 robinson meadow, new tracy, w22 2qg",United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,garry,stone,1952-12-20,warner inc,billy14@long-warren.com,"3 white pass, hunterborough, nn96 4ue",United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...
15279,stephen,jenkins,1943-08-09,"thornton, carroll and newman",s.jenkins@smith.com,"studio 41i, jones lodge, oliviaborough, e8 3du",United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15280,stephen,smith,1948-08-20,robinson-harris,s.smith@smith.com,"530 young parkway, millsfurt, l4g 7nx",United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15281,stephen,losekann,1940-10-09,rosenow,s.losekann@smith.com,"viviane-fritsch-straße 35, 15064 bad liebenwerda",Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15282,stephen,rivera,1952-06-04,"taylor, fry and jones",s.rivera@smith.com,"660 ross falls suite 357, anthonymouth, ma 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15283,stephen,duncan,1994-03-27,"phillips, brown and powell",s.duncan@smith.com,"studio 4, hancock road, phillipsview, st1x 3xb",United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

All cleaned correctly

Upload the dataframe to the server sales_data

In [4]:
uploader = dc()
uploader.upload_to_db(user_data, 'dim_users')

'Dataframe uploaded to sales_data database in PostgreSQL format as dim_users'

The message above confirms that the dataframe has been uploaded but I have also checked in PGadmin and the table is present after a refresh

Next we can clean the card data

In [5]:
card_data = cleaner.clean_card_data()

Check the data has extracted and cleaned as intended

In [6]:
card_data.info()
display(card_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15284 entries, 0 to 15283
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  int64
 1   expiry_date             15284 non-null  datetime64[ns]
 2   card_provider           15284 non-null  category
 3   date_payment_confirmed  15284 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](2), int64(1)
memory usage: 374.0 KB

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,2026-09-01,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,2023-10-01,American Express,2001-06-18
2,3529023891650490,2023-06-01,JCB 16 digit,2000-12-26
3,213142929492281,2027-09-01,JCB 15 digit,2011-02-12
4,502067329974,2025-10-01,Maestro,1997-03-13
...,...,...,...,...
15279,180036921556789,2028-12-01,JCB 15 digit,1997-06-06
15280,180018030448512,2024-11-01,JCB 15 digit,2004-06-16
15281,3569953313547220,2024-04-01,JCB 16 digit,2020-02-05
15282,4444521712606810,2027-06-01,VISA 16 digit,2008-06-16
15283,372031786522735,2030-02-01,American Express,2009-02-04

Upload the card data

In [7]:
uploader.upload_to_db(card_data, 'dim_card_details')

'Dataframe uploaded to sales_data database in PostgreSQL format as dim_card_details'

Present on server in pgadmin. Correctly uploaded.

Extract and clean and upload the store data

In [8]:
store_data = cleaner.clean_store_data()
uploader.upload_to_db(store_data, 'dim_store_details')

'Dataframe uploaded to sales_data database in PostgreSQL format as dim_store_details'